@model Departamento
@{
    ViewData["Title"] = "Departamento - Editar";
}

<section class="painel app-views-departamento-editar">

    <!-- Barra de botoes -->
    <nav>
        @Html.ActionLink("Salvar", "Salvar")
        @Html.ActionLink("Excluir", "Excluir")
        @Html.ActionLink("Cancelar", "Index")
    </nav>

    <!-- Titulo -->
    <div class="titulo-principal">Departamentos</div>

    <!-- ID -->
    <div class="linha">
        <div class="coluna40 texto-alinhado-direita">
            @Html.LabelFor(x => x.Id)
        </div>
        <div class="coluna">
            @Html.TextBoxFor(x => x.Id)
        </div>
    </div>

    <!-- Descrição -->
    <div class="linha">
        <div class="coluna40 texto-alinhado-direita">
            @Html.LabelFor(x => x.Descricao)
        </div>
        <div class="coluna">
            @Html.TextBoxFor(x => x.Descricao, new { @class="tamanho300", @autocomplete="off"})
        </div>
    </div>


</section>

@section Scripts {

    <script src="/js/app.views.departamento.editar.js" ></script>
    <script>        
        new app.views.departamento.editar($(".app-views-departamento-editar"));
    </script>

}